:root {
    --bg-color: #1E1E1E;
    --bg-card-carousel:  radial-gradient(50% 50% at 50% 50%, rgba(67, 188, 174, 0.2) 0%, rgba(67, 188, 174, 0.2) 39.58%, rgba(68, 63, 64, 0) 100%);
    --color-text: #D2C2C2;
    --bg-button-color: #43BCAE;
    --bg-color-button-cancel: rgba(171, 172, 172, 0.4);
    --color-pagination-carousel: #D9D9D9; 

    --font-Inter: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-Inter);
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 6.313rem;

}

.header h1 {
    color: var(--color-text);

}

.first-card {
    background-color: var(--bg-card-carousel);
}

.title__carousel {
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--color-text);
}

.paragraph__carousel {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.188rem;
    color: var(--color-text);
}

.button-start {
    width: 12.75rem;
    height: 2.625rem;
    border-radius: 0.938rem;
    background-color: var(--bg-button-color);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;

    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.063rem;
    color: #1E1E1E;
}

/*animation for button in css*/
/* .button-start  */