/* * {
    border: 1px solid red;
} */

body {
    background-color: var(--bg-color);
    font-family: var(--font-Inter);
}

.title {
    color: var(--color-text);
    font-weight: 600;
    text-align: center;
    margin: 6.563rem 0 8rem;
}

.container__image {
    display: grid;
    place-items: center;
    margin-bottom: 1.188rem;
}

.image__cart {
    width: 9.125rem;
    height: 8.125rem;
}

.content__text {
    margin-bottom: 3.438rem;
}

p {
    color: var(--paragraph-color);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.188rem;
    text-align: center;
}

.button__container {
    display: flex;
    justify-content: center;    
}

.button__create {
    width: 7.813rem;
    height: 2.25rem;
    line-height: 1.188rem;
    background-color: var(--button-create-color);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    gap: 0.875rem;
    text-decoration: none;
}

.text__create {
    color: var(--color-white);
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.188rem;
    font-weight: 400;
}

.icon_plus {
    color: var(--color-white);
    font-weight: bold;
}

.back__icon {
    color: var(--color-text);
    font-weight: bold;
    font-size: 1.2rem;
}

.text__back {
    color: var(--color-text);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.button__back {
    text-decoration: none;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    padding: 3rem;
}

.popup__list {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    width: 22.875rem;
    height: 11.313rem;
    border-radius: 1.25rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1E1E1E;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding-top: 2rem;
    padding-bottom: 2rem;
}

.title__name-list {
    margin-bottom: 1.5rem;
    color: var(--title-popup);
}

#ilist {
    width: 20.05rem;
    height: 1.875rem;
    border-radius: 0.313rem;
    background-color: transparent;
    border: 0;
    outline: transparent;
    box-shadow: 0 0 0 2px var(--button-create-color);
    color: var(--color-text);
    font-weight: 400;
    font-size: 1rem;
    padding: 0.188rem;
    margin-bottom: 2.5rem;
}

input[type="text"]::placeholder {
    color: var(--color-text);
    font-weight: 400;
    font-size: 1rem;
}

.containar__button {
    display: flex;
    gap: 4.563rem;
}

.button__cancel {
    background-color:  rgba(171, 172, 172, 0.4);
    width: 7.813rem;
    height: 2.25rem;
    border-radius: 1.25rem;
    border: none;
    cursor: pointer;
    color: var(--color-white);
}

.button__continue {
    background-color: var(--button-create-color);
    width: 7.813rem;
    height: 2.25rem;
    border-radius: 1.25rem;
    border: none;
    cursor: pointer;
    color: var(--color-white);
}

/* #emptyMessage {
  display: none;
} */

.myContentList {
    margin-top: -80px;
    display: grid;
    place-items: center;
    /* height: 555px;
    background-color: #202020;
    border-radius: 20px;
    width: 100%;
    margin: -85px 20px 0; */
}

.itemList {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    display: none;
    color: var(--color-white);
    font-size: 1.25rem;
    font-weight: 700;
    width: 20.5rem;
    background-color: rgba(217, 217, 217, 0.05);
    border-radius: 1.25rem;
}

@media screen and (max-width: 600px) { 
    .button__back {
        padding: 1.5rem;
    }

    .popup__list {
        padding: 0 1.25rem 0;
    }

    .popup-content {
        width: 100%;
        margin: 0 1rem 0 0rem;
    }
    
    #ilist {
        width: 100%;
        height: 1.5rem;
    }

    .button__cancel {
        width: 100%;
    }

    .button__continue {
        width: 100%;
    } 

    /* .myContentList {
        width: 100%;
    } */
}